/* header */
.header {
  background-color: var(--black-color);
}

.header-container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100px;
}

.header-logo {
  display: block;
  padding-left: 10px;
}

.header-nav {
  max-width: 1550px;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.nav-item {
  max-width: 160px;
  padding-left: 50px;
}

.nav-item:first-child {
  white-space: nowrap;
  padding-left: 174px;
}

.nav-item__link {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  padding: 2px 6px;
}
.nav-item__link:hover {
  background-color: var(--hover-color);
}

.nav-item__link:focus {
  background-color: inherit;
  color: var(--focus-color);
}
.nav-item__link:active {
  background-color: inherit;
  color: var(--hover-color);
}

/* burger-menu-display:none */
.burger-menu {
  width: 36px;
  height: 28px;
  display: none;
  cursor: pointer;
  background-color: var(--black-color);
  transition: all 0.5s ease-in;
  border: none;
  outline: none;
}

.burger-line__1 {
  width: 36px;
  height: 3.65px;
  background-color: var(--white-color);
  margin-bottom: 8.52px;
}

.burger-line__2 {
  width: 28px;
  height: 3.65px;
  background-color: var(--white-color);
  margin-bottom: 8.52px;
}

.burger-line__3 {
  width: 24px;
  height: 3.65px;
  background-color: var(--white-color);
}

.burger-menu.actione .burger-line__1 {
  transform: rotate(45deg) translate(5px, 6px);
}

.burger-menu.actione .burger-line__2 {
  opacity: 0;
}

.burger-menu.actione .burger-line__3 {
  transform: rotate(-45deg) translate(15px, -6px);
}
/* /burger-menu */
.header-exit {
  max-width: 160px;
  padding-left: 265px;
}
.header-exit__link {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}
.header-exit__link:hover {
  background-color: var(--hover-color);
}

.header-exit__link:focus {
  background-color: inherit;
  color: var(--focus-color);
}
.header-exit__link:active {
  background-color: inherit;
  color: var(--hover-color);
}
.exit-svg {
  width: 13px;
  height: 13px;
}

.exit-svg path {
  -webkit-transition: fill ease-in-out 0.3s;
  -o-transition: fill ease-in-out 0.3s;
  transition: fill ease-in-out 0.3s;
}

.header-exit__link:focus .exit-svg path {
  fill: var(--focus-color);
}

.header-exit__link:active .exit-svg path {
  fill: var(--hover-color);
}

.header-search {
  display: none;
}
/* popup-window */
.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup-content {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  z-index: 9;
}

.popup-line {
  display: flex;
  justify-content: space-between;
}

.close-btn__window {
  display: block;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
}

.close-btn__window svg {
  width: 45px;
  height: 45px;
}

.popup-title {
  color: var(--white-color);
  padding-bottom: 5px;
}
.inputBlock {
  position: relative;
  padding-top: 18px;
  margin-bottom: 15px;
}

/* Стили для плавающего label || Styles for float label */
input {
  border: 0px solid silver;
  border-bottom: 2px solid silver;
  padding: 2px;
  outline: none;
}

label {
  position: absolute;
  font-size: 18px;
  color: #333;
  top: 18px;
  left: 2px;
  cursor: text;
}

input:focus {
  border-bottom: 2px solid var(--hover-color);
}

input:focus + label {
  top: 0;
  font-size: 16px;
  color: var(--hover-color);
}
input:valid:not(:focus) + label {
  top: 0;
  font-size: 16px;
  color: var(--white-color);
}

/* Стили для checkbox || Styles for checkbox */
#check {
  visibility: hidden;
  width: 12px;
  height: 12px;
  position: relative;
}
#check::before {
  content: "";
  visibility: visible;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--white-color);
  border-radius: 3px;
}
#check::after {
  content: "\2713";
  font-size: 20px;
  visibility: visible;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 2px;
  transition: all 0.2s;
  color: var(--white-color);
}
label[for="check"] {
  position: static;
  font-size: 18px;
  vertical-align: middle;
}
#check:checked + label[for="check"] {
  color: var(--hover-color);
}
#check:checked::after {
  opacity: 1;
  top: -10px;
}
#check:checked::before {
  background: var(--focus-color);
}

/* Блок социальных сетей || Block of social networks */
#socialBlock {
  margin-top: 10px;
  margin-bottom: 8px;
}
#socialBlock i {
  font-size: 20px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}
.fa-facebook:hover,
.fa-vk:hover {
  color: blue;
}
.fa-twitter:hover {
  color: #008de7;
}
.fa-google-plus:hover {
  color: red;
}

.btn-registration {
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  padding: 5px;
  color: #333;
  border: none;
  font-size: 18px;
  margin-left: 55px;
  margin-bottom: 10px;
}
.btn-registration:hover {
  color: white;
  background: var(--hover-color);
}

.btn-registration:focus {
  color: white;
  background: var(--focus-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* popup-window */
/* header */

/* sub-menu */
.sub-menu {
  min-height: 70px;
  background-color: var(--black-color);
  opacity: 0.6;
}
.sub-menu__container {
  max-width: 1600px;
  margin: 0 auto;
}

.nav-sub__drop {
  display: flex;
  align-items: center;
}

.nav-sub__search {
  margin-top: 15px;
  margin-left: 226px;
}
.dropbtn {
  background-color: inherit;
  color: white;
  padding: 8px;
  font-size: 18px;
  line-height: 25px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-right: 77px;
}

.dropdown:nth-child(3) {
  margin-right: 81px;
}

.dropdown:nth-child(4) {
  margin-right: 81px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-top: 13px;
}

/* Links inside the dropdown */

.dropdown-content a:nth-child(1) {
  margin-top: 40px;
}
.dropdown-content a {
  color: var(--white-color);
  max-width: 220px;
  min-height: 40px;
  display: block;
  margin-top: 20px;
  margin-left: 40px;
  position: relative;
}

.dropdown-content a img {
  opacity: 0.6;
}

.dropdown-content a span {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 0;
}

.dropdown-content a:last-child {
  margin-bottom: 40px;
}

.simplebar-track.simplebar-vertical {
  width: 4px;
}
.simplebar-vertical {
  margin-top: 42px;
  margin-right: 19px;
  height: 220px;
  background-color: var(--white-color);
}

.simplebar-scrollbar {
  background-color: var(--black-color);
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border: 2px solid #9d5cd0;
}

.dropdown-content a:focus {
  background-color: rgba(194, 131, 243, 0.39);
  border: 2px solid #9d5cd0;
  opacity: 1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:active .dropdown-content {
  display: block;
}

.dropdown:focus .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: var(--hover-color);
  color: var(--white-color);
  cursor: pointer;
}

.dropdown:active .dropbtn {
  background-color: inherit;
  color: #9d5cd0;
  cursor: pointer;
}

.dropdown:focus .dropbtn {
  background-color: inherit;
  color: #7943a4;
  cursor: pointer;
}

.nav-sub__form {
  display: flex;
}

.nav-sub__form input {
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  color: var(--white-color);
  cursor: pointer;
}

.nav-sub__form input:hover {
  border-bottom: 1px solid #c283f3;
}
.nav-sub__form input:focus {
  border-bottom: 1px solid #7943a4;
}
.nav-sub__form input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}

.input-search {
  display: block;
  width: 22.1px;
  height: 21.62px;
  margin-right: 9px;
}

.miniarrow {
  width: 7px;
  height: 7px;
  border-top: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  margin-left: 10px;
  transform: rotate(134deg);
}

.dropdown:active .miniarrow {
  border-top: 1px solid var(--active-color);
  border-right: 1px solid var(--active-color);
  margin-top: 6px;
  -webkit-transform: rotate(314deg);
  -ms-transform: rotate(314deg);
  transform: rotate(314deg);
}

.dropdown:focus .miniarrow {
  border-top: 1px solid var(--focus-color);
  border-right: 1px solid var(--focus-color);
  margin-top: 6px;
  -webkit-transform: rotate(314deg);
  -ms-transform: rotate(314deg);
  transform: rotate(314deg);
}

/* /sub-menu */

/*  reponsive header */
@media (max-width: 1600px) {
  .nav-item:first-child {
    padding-left: 15px;
  }

  .header-exit {
    padding-left: 5px;
  }
}

@media (max-width: 1185px) {
  .nav-item {
    padding-left: 15px;
  }
}

@media (max-width: 1024px) {
  .header-container {
    max-width: 925px;
    width: 100%;
    justify-content: space-between;
  }
  .header-logo__link {
    order: 2;
    padding: 0;
    margin: 0;
  }
  .header-nav {
    margin: 0;
  }
  .header-nav__list {
    position: absolute;
    z-index: 8;
    top: 77px;
    right: 550px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-101%);
  }
  .header-nav__list li {
    opacity: 1;
  }

  .header-nav__list.actione {
    transform: none;
  }
  .header-search {
    display: block;
    order: 3;
    height: 29px;
    border-radius: 40px;
    padding-left: 140px;
  }

  .search-btn {
    color: #000;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
  }

  .search-txt {
    border: none;
    background: #fff;
    outline: none;
    float: left;
    padding: 0;
    color: var(--black-color);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    border-radius: 15px;
  }

  .header-search:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
  }
  .header-search:hover > .search-btn {
    background: #000;
  }
  .burger-menu {
    display: block;
    order: 1;
  }
  .header-exit {
    display: none;
  }
  .nav-item {
    padding-left: 5px;
  }

  .header-exit {
    display: block;
    padding-left: 0;
  }
  @keyframes navLinksFade {
    0% {
      opacity: 0;
      transform: translateY(50px) translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
  .popup-window {
    position: absolute;
    top: 77px;
    right: 550px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: 925px) {
  .header-container {
    max-width: 668px;
  }
}

@media (max-width: 768px) {
  .header-container {
    max-width: 668px;
  }
  .popup-window {
    position: absolute;
    top: 77px;
    right: 550px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: 672px) {
  .header-container {
    max-width: 390px;
  }
}

@media (max-width: 320px) {
  .header-container {
    max-width: 290px;
    min-height: 45px;
  }

  .header-nav__list {
    top: 44px;
  }
  .header-search {
    width: 18px;
    height: 18px;
  }
  .search-btn {
    width: 18px;
    height: 18px;
  }
  .mb-search__icon {
    width: 18px;
    height: 18px;
  }
  .search-txt {
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    position: absolute;
    top: 45px;
    right: 40px;
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
  }
  .header-search:hover > .search-txt {
    width: 100px;
    padding: 0 6px;
  }
}
/*  /reponsive header */

/* slider */

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 630px;
  overflow: hidden;
}

.slides {
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1s;
  display: none;
}

img {
  width: 100%;
}

#dot {
  margin: 0 auto;
  text-align: center;
}
.dot {
  display: inline-block;
  border-radius: 50%;
  background: #d3d3d3;
  padding: 8px;
  margin: 10px 5px;
}

.active {
  background: black;
}

@media (max-width: 567px) {
  #slider {
    width: 100%;
  }
}

.slider-discr {
  position: absolute;
  top: 235px;
  left: 160px;
  z-index: 1;
}

.slider-title {
  max-width: 597px;
  font-weight: bold;
  font-size: 72px;
  line-height: 89px;
  color: var(--white-color);
}
.slider-text {
  margin-top: 14px;
  max-width: 579px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.slider-link {
  display: inline-block;
  margin-top: 90px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  padding: 22.5px 35px;
  background-color: var(--active-color);
  border: none;
  border-radius: 100px;
}
/* /slider */
