/* header */
.header {
  background-color: var(--black-color);
}

.header-container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100px;
}

.header-logo {
  display: block;
  padding-left: 10px;
}

.header-nav {
  max-width: 1300px;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.nav-item {
  max-width: 160px;
  padding-left: 50px;
}

.nav-item:first-child {
  white-space: nowrap;
  padding-left: 174px;
}

.nav-item__link {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  padding: 2px 6px;
}
.nav-item__link:hover {
  background-color: var(--hover-color);
}

.nav-item__link:focus {
  background-color: inherit;
  color: var(--focus-color);
}
.nav-item__link:active {
  background-color: inherit;
  color: var(--hover-color);
}

/* burger-menu-display:none */
.burger-menu {
  width: 36px;
  height: 28px;
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.burger-line__1 {
  width: 36px;
  height: 3.65px;
  background-color: var(--white-color);
  margin-bottom: 8.52px;
}

.burger-line__2 {
  width: 28px;
  height: 3.65px;
  background-color: var(--white-color);
  margin-bottom: 8.52px;
}

.burger-line__3 {
  width: 24px;
  height: 3.65px;
  background-color: var(--white-color);
}

.burger-menu.actione .burger-line__1 {
  transform: rotate(45deg) translate(5px, 6px);
}

.burger-menu.actione .burger-line__2 {
  opacity: 0;
}

.burger-menu.actione .burger-line__3 {
  transform: rotate(-45deg) translate(15px, -6px);
}
/* /burger-menu */
.header-exit {
  max-width: 75px;
  padding-left: 263px;
}
.header-exit__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}
.header-exit__link:hover {
  background-color: var(--hover-color);
}

.header-exit__link:focus {
  background-color: inherit;
  color: var(--focus-color);
}
.header-exit__link:active {
  background-color: inherit;
  color: var(--hover-color);
}
.exit-svg {
  width: 13px;
  height: 13px;
  padding-right: 2px;
}

.exit-svg path {
  -webkit-transition: fill ease-in-out 0.3s;
  -o-transition: fill ease-in-out 0.3s;
  transition: fill ease-in-out 0.3s;
}

.header-exit__link:focus .exit-svg path {
  fill: var(--focus-color);
}

.header-exit__link:active .exit-svg path {
  fill: var(--hover-color);
}

.header-search {
  display: none;
}
/* header */

/*  reponsive header */
@media (max-width: 1600px) {
  .nav-item:first-child {
    padding-left: 15px;
  }

  .header-exit {
    padding-left: 5px;
  }
}

@media (max-width: 1185px) {
  .nav-item {
    padding-left: 15px;
  }
}

@media (max-width: 1024px) {
  .header-container {
    max-width: 925px;
    justify-content: space-between;
  }
  .header-logo__link {
    order: 2;
  }
  .header-nav__list {
    position: absolute;
    z-index: 10;
    top: 77px;
    right: 550px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-101%);
  }
  .header-nav__list li {
    opacity: 1;
  }

  .header-nav__list.actione {
    transform: none;
  }
  .header-search {
    display: block;
    order: 3;
  }
  .burger-menu {
    display: block;
    order: 1;
  }
  .header-exit {
    display: none;
  }
  .nav-item {
    padding-left: 5px;
  }

  @keyframes navLinksFade {
    0% {
      opacity: 0;
      transform: translateY(50px) translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
}

@media (max-width: 925px) {
  .header-container {
    max-width: 668px;
  }
}

@media (max-width: 768px) {
  .header-container {
    max-width: 668px;
  }
}

@media (max-width: 672px) {
  .header-container {
    max-width: 390px;
  }
}

@media (max-width: 320px) {
  .header-container {
    max-width: 290px;
    min-height: 45px;
  }

  .header-nav__list {
    top: 44px;
  }
}
/*  /reponsive header */
