body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1600px;
	margin: 0 auto;
}
.tab-content {
	display: none;
}
.tab-active {
	display: flex;
}
.arrow {
	width: 11px;
	height: 11px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	margin-left: 12px;
	transform: rotate(135deg);
}
.ac--list {
	width: 100%;
	max-width: 800px;
}
.ac--list__item {
	cursor: pointer;
}
.ac--list__item-top {
	display: flex;
	justify-content: space-between;

	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding-top: 20px;
	padding-bottom: 20px;

	margin-top: -1px;
}

.ac--list__title {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: var(--black-fonts);
}
.ac-list__item-btn {
	cursor: pointer;
	border-radius: 100%;
	max-width: 50px;
	width: 100%;
	height: 50px;
	background-color: transparent;
	border: 1px solid grey;

	font-size: 40px;
	transition-property: transform;
	transition: 0.2s ease-in-out;
}

.ac--list__item:active .ac-list__item-btn {
	transform: rotate(45deg);
}

.ac--list__item-top:hover,
.ac--list__item-top:focus-visible {
	border-color: var(--hover-color);
	position: relative;
	z-index: 1;
}
.ac--list__item-top:hover .ac-list__item-btn,
.ac--list__item-top:focus-visible .ac-list__item-btn {
	background-color: #d1a9f0;
	border-color: #9d5cd0;
	color: #000;
}

.ac--list__item-top:focus-visible {
	outline: 0;
}

.ac--list__item-top.ui-state-active {
	border-bottom: 0;
	border-color: var(--hover-color);
}
.ac--list__item-top.ui-state-active .ac-list__item-btn {
	transform: rotate(180deg);
	background-color: #d1a9f0;
	border-color: #9d5cd0;
	color: #000;
}
.ac--list__item-top.ui-state-active h3 {
	color: var(--hover-color);
}

.ac--list__item-top:hover h3,
.ac--list__item-top:focus-visible h3 {
	background-color: var(--hover-color);
	color: var(--white-color);
}
.ac--list__item-top.ui-state-active + .ac--list__iten-bottom {
	border-bottom: 1px solid var(--hover-color);
	position: relative;
	z-index: 2;
}

.ac--list__iten-bottom {
	padding-bottom: 20px;
	line-height: 2;
}

.article-content__img {
	width: 100%;
}
.article-content {
	max-width: 750px;
	flex: 1;
	margin-right: 50px;
	display: none;
}

.article-content.article-tabActive {
	display: block;
}
.article-title {
	margin-top: 30px;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: var(--black-fonts);
}

.article-mini__text {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #999;
}

.article-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: var(--black-fonts);
}
.article-link {
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
}
.ac--list__iten-tab {
	background-color: transparent;
	border: 1px solid grey;

	cursor: pointer;
}
.heading {
	display: flex;
}
.heading-title {
	margin-top: 30px;
	margin-right: 40px;
	font-weight: normal;
	font-size: 48px;
	line-height: 2px;
	color: var(--black-fonts);
}

.heading-descr {
	max-width: 1080px;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: var(--black-fonts);
	margin-top: 30px;
	margin-bottom: 50px;
}

.heading-ul {
	display: flex;
	align-items: center;
}
.heading-item:not(:last-child) {
	margin-right: 30px;
}
.heading-item--btn {
	background-color: transparent;
	border: none;
	padding: 8px;
	transition-property: background-color, color, opacity;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}
.heading-item--btn:focus-visible,
.heading-item--btn:hover {
	box-shadow: 0px 0px 10px rgba(157, 92, 208, 0.7);
	padding: 0;
	border-radius: 30px;
	color: #fff;
	outline: 0;
}
.heading-item--btn:active {
	border: 2px solid #7943a4;
	border-radius: 23px;
}
.empty {
	height: 200px;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-active {
	border: 2px solid #7943a4;
	border-radius: 100%;
}

.article-btn-active {
	background-color: #333;
	color: #fff;
}
