.catalok-up {
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.catalok-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  padding-right: 39px;
  color: var(--black-fonts);
}

.catalok-icons__list {
  display: flex;
  align-items: center;
}

.catalok-item {
  padding-right: 50px;
}

.catalok-text {
  max-width: 1080px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-fonts);
}

.catalok-block {
  display: flex;
}

.catalok-left {
  margin-right: 50px;
}
.catalok-picture {
  margin-top: 50px;
}

.catalok-left__title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--black-fonts);
}

.catalok-left__small {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  padding-bottom: 20px;
}

.catalok-text__left {
  max-width: 749px;
}

/* accordion */
/* Устанавливает ширину accordion. Устанавливает поле 90 пикселей сверху и снизу и автоматически слева и справа.*/

.accordion {
  width: 800px;
  margin: 0 auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

/* Позиционирует метки относительно контейнера. Добавляет отступы сверху и снизу и увеличивает размер шрифта. Также делает курсор указателем*/

.accordion .label {
  position: relative;
  padding: 28px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-font);
  cursor: pointer;
}

/* Помещает знак плюса на 5 пикселей справа. Центрирует его, используя свойство transform. */

/* .accordion .label::before {
  content: url("../img/catalok-icons/close svg.svg");
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
} */

.label {
  position: relative;
}
.svg-accordion {
  position: absolute;
  top: 20px;
  left: 720px;
  right: 0;
  width: 50px;
  height: 50px;
}

.svg-accordion .st0:hover {
  fill: #d1a9f0;
}

.label h3 {
  max-width: 215px;
  color: var(--black-fonts);
  font-size: 24px;
  line-height: 32px;
}
.label h3:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}

/* Скрывает содержимое (  height: 0), уменьшает размер шрифта, выравнивает текст и добавляет переход */

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Добавляет горизонтальную линию между содержимым */

.accordion hr {
  width: 100%;
  margin-left: 0;
  border: 1px solid #cacaca;
}

/* Отображает часть содержимого, когда она активна. Устанавливает высоту */

.accordion .container.active .content {
  height: 150px;
}

/* При активации меняется со знака плюса на минус */

/* .accordion .container.active .label::before {
  content: url("../img/catalok-icons/open.png");
  font-size: 24px;
} */
/* /accordion */ ;
